{% load static %}
# listings/templates/listings/base.html

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'listings/styles.scss' %}" />
    <title>Title</title>
</head>
<body>
   <nav>
     <a href="{% url 'band-list' %}">Groupes</a>
     <a href="{% url 'band-list' %}">Listes</a>
     <a href="{% url 'about' %}">A propos de nous</a>
     <a href="{% url 'contact' %}">Contactez-nous</a>
   </nav>
    {% block content %}

    {% endblock %}
</body>
</html>